{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="title">Upload a New Image</div>
    <form method="POST" enctype="multipart/form-data" style="text-align: center;">
        {% csrf_token %}
        <div class="form-group" style="margin: 0 auto; max-width: 300px;">
            <label for="id_image">Image:</label><br>
            {{ form.image }}
        </div>
        <div class="form-group" style="margin: 0 auto; max-width: 300px;">
            <label for="id_image_name">Image name:</label><br>
            {{ form.image_name }}
        </div>
        <div class="form-group" style="margin: 0 auto; max-width: 300px;">
            <label for="id_description">Description:</label><br>
            {{ form.description }}
        </div>
        <button type="submit" style="margin-top: 20px;">Upload</button>
    </form>
</div>
{% endblock content %}

<style>
    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f3f4f6;
        color: #333;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Centers the container vertically */
    }
    .title {
        text-align: center;
        margin-bottom: 30px;
        font-size: 2em;
        color: #ff6f61;
    }
    .form-group {
        margin-bottom: 15px;
        text-align: left; /* Aligns the labels and inputs to the left */
    }
    label {
        font-weight: bold;
    }
    input[type=file], input[type=text], textarea {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    button {
        padding: 10px 20px;
        background-color: #ff6f61;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
    }
    button:hover {
        background-color: #e6523d;
    }
</style>
