{% extends "base.html" %}


{% block content %}


<div class="container">
    <div class="title">Logout</div>
    <p>You have been successfully logged out.</p>
    {% if not request.user.is_authenticated %}
    
    
        <button onclick="location.href='/login/'">Login Again</button>

        

    {% else %}

        {% comment %} This is logout function {% endcomment %}
        <h3>Temporaray Button</h3>
        <form method='POST'>
            {% csrf_token %}
            <button class="opacity">Yes, logout</button>
        </form>
        {% comment %} logout ends {% endcomment %}

    {% endif %}
    
</div>








{% endblock content %}